.block-cover {
  position: relative;
  border: 0.2rem solid #3d3d3d;
  bottom: 1rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 10;
  @include md {
    bottom: 2rem;
  }
  @include lg {
    bottom: 3rem;
  }
  @include xl {
    bottom: 4rem;
    width: 80%;
  }
  @include xxl {
    bottom: 6rem;
    width: 85%;
  }
  @include xxxl {
    bottom: 7rem;
    width: 75%;
  }
  @include xxxxl {
    bottom: 10rem;
    width: 100%;
  }
}

.cover-heading {
  font-family: Amithen;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  @include md {
    font-size: 3rem;
    margin-top: 2rem;
  }
  @include lg {
    font-size: 3.2rem;
    margin-top: 2.2rem;
  }
  @include xl {
    font-size: 4rem;
    margin-top: 3rem;
  }
  @include xxl {
    font-size: 5rem;
    margin-top: 3rem;
  }
  @include xxxl {
    font-size: 6rem;
    margin-top: 3rem;
  }
  @include xxxxl {
    font-size: 7rem;
    margin-top: 5rem;
  }
}

.cover-subheading {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 100;
  font-family: "Khand", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  @include md {
    margin-bottom: 2rem;
  }
  @include lg {
    letter-spacing: 0.35rem;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
  }
  @include xl {
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  @include xxl {
    font-size: 1.5rem;
  }
  @include xxxl {
    letter-spacing: 0.6rem;
    font-size: 1.7rem;
  }
  @include xxxxl {
    letter-spacing: 0.8rem;
    margin-bottom: 5rem;
  }
}

.cover-page-zweite-heimat-container {
  margin-top: 2rem;
  margin-bottom: -2rem;
  @include sm {
    margin-top: 1.75rem;
  }
  @include md {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.cover-page-zweite-heimat {
  display: none;
  @include sm {
    display: block;
  }
}

.cover-page-lieblingsort-container {
  margin-top: -6rem;
  margin-bottom: -3rem;
  @include md {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.cover-page-lieblingsort {
  display: none;
  @include sm {
    display: block;
  }
}
