ion-icon {
  transition: all 0.2s ease-in-out;
}

ion-icon:hover {
  transform: scale(1.1);
}

.garden-icon {
  font-size: 50px;
}

.map-icon {
  font-size: 50px;
}

.bed-icon {
  font-size: 50px;
}

.fire-icon {
  font-size: 50px;
}
