.punny-doppelzimmer {
    padding: 50rem;
    background-color: #3d4b7111;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  
  .punny-hero {
    padding: 50rem;
    background-color: #3d4b7117;
  }
  
  .transparent-grapes-left {
    position: absolute;
    left: -500px;
    bottom: 250px;
  }
  
  .transparent-grapes-right {
    position: absolute;
    right: -400px;
    bottom: 0px;
  }