/* Loading Font Amithen */
@font-face {
  font-family: Amithen;
  src: url("resources/fonts/Amithen.otf") format("opentype");
}

/* ===========================================================================*/
/* Components */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
}

a {
  text-decoration: none;
}

.underline {
  color: #8fa996;
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #2b2b2b;
  height: 3px;
  transition-property: left right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #494949;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #494949;
}

button {
  font-weight: 400;
  border: solid 2px #585858;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.25rem;
  letter-spacing: 0.00rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8fa996;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px #5c5c5c;
  transition: all 0.3s ease-in-out;
}

button.custom-btn::after {
  width: 90%;
  height: 90%;
}

button.custom-btn:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

button.custom-btn-open::after {
  top: 0.5rem;
  left: 0.5rem;
}

button.custom-btn-open:hover::after {
  width: calc(100% + 0.3rem);
  height: calc(100% + 0.3rem);
}

/* Inverted Button */
button.custom-btn-invert {
  background-color: #8fa996;
}

button.custom-btn-invert::after {
  border: 0;
  box-shadow: 0px 0px 0px 2px #8fa996;
  background-color: #8fa996;
  top: 0.5rem;
  left: 0.5rem;
}

button.custom-btn-invert:hover {
  background-color: #8fa996;

}

button.custom-btn-invert:hover::after {
  background-color: black;
  box-shadow: none;
}

/* Inverted Button-End */

.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.cover-page-marker {
  position: relative;
}

.cover-page-marker:before {
  content: "";
  background-color: #8fa99638;
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

/* Icons */
ion-icon {
  transition: all 0.2s ease-in-out;
}

ion-icon:hover {
  transform: scale(1.1);
}

.garden-icon {
  font-size: 50px;
}

.bed-icon {
  font-size: 50px;
}

.box-icon {
  font-size: 50px;
}

/* Icons-End */

.zweiteheimat-ferienwohnung-container {
  margin-top: -6rem;
}

.partner-container {
  margin-top: 6rem !important;
  margin-bottom: 4rem !important;
}

.venningen-heading {
  font-weight: 400;
}

.beschreibung-heading {
  font-weight: 500;
}

/* Components-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* jQuery lightSLider */
.image_kissthecook {
  width: 160%;
  z-index: -100;
}

/* jQuery lightSLider-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Navigation */
.navbar-brand {
  font-family: Amithen;
  font-size: 2.5rem;
}

.nav {
  padding-left: 12rem;
}

/* Navigation-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Cover */
.block-cover {
  position: relative;
  border: .2rem solid #3d3d3d;
  bottom: 10rem;
  background-color: white;
  z-index: 10;
}

.cover-heading {
  font-family: Amithen;
  font-size: 7rem;
  margin-top: 5rem;
}

.cover-subheading {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 100;
  font-family: "Khand", sans-serif;
  margin-bottom: 5rem;
}

/* Cover-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Price Cards */
.card-plans-separator {
  border-bottom: 1px solid #cacaca;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-plans-separator:last-child {
  border-bottom: 0px solid;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.pricelist-icon {
  font-size: 40px;
}

/* Price Cards-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Punny Doppelzimmer */
.punny-doppelzimmer {
  padding: 50rem;
  background-color: #3d4b7111;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.punny-hero {
  padding: 50rem;
  background-color: #3d4b7117;
}

.transparent-grapes-left {
  position: absolute;
  left: -500px;
  bottom: 250px;
}

.transparent-grapes-right {
  position: absolute;
  right: -400px;
  bottom: 0px;
}

/* Punny Doppelzimmer-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Footer */
.footer-background {
  position: relative;
}

.footer-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1588278411622-7be7d47a9784?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(50%);
}

.footer-background-inside {
  position: relative;
}

/* Footer-End */
/* ===========================================================================*/
/* Ferienwohnungen */
.zimmer-cover-dark {
  position: relative;
  height: 65em;
}

.zimmer-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(resources/img/7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.zimmer-cover-inside {
  position: relative;
  padding-top: 18em;
}

.brand-font {
  font-family: Amithen;
  font-size: 8rem;
}

.brand-font-small {
  font-family: Amithen;
  font-size: 3rem;
}

.frühstückskorb-icon {
  font-size: 50px;
}

.doktorenhof-icon {
  font-size: 50px;
}

.restaurant-icon {
  font-size: 50px;
}

.fahrrad-icon {
  font-size: 50px;
}

.hike-icon {
  font-size: 50px;
}

/* Ferienwohnungen-End */

/* Ausflüge */
.ausflüge-cover-dark {
  position: relative;
  height: 65em;
}

.ausflüge-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1572360678077-0ab5ce1be418?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.ausflüge-cover-inside {
  position: relative;
  padding-top: 18em;
}

.pfalz-icon {
  font-size: 50px;
}

.glass-icon {
  font-size: 30px;
}

/* Ausflüge-End */

/* Kontakt */
.kontakt-cover-dark {
  position: relative;
  height: 65em;
}

.kontakt-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1605820644336-377c3e7a4b63?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.kontakt-cover-inside {
  position: relative;
  padding-top: 18em;
}

.kontakt-link {
  color: rgb(59, 59, 59);
}

.kontakt-link:hover {
  border-bottom: 2.5px solid rgb(110, 110, 110);
}

.kontakt-link:active {
  border-bottom: 2.5px solid rgb(110, 110, 110);
}

/* Kontakt-End */

/* ===========================================================================*/
/* Media Queries */
/* Extra large devices (super large laptops and desktops, 1399px and down) */
@media screen and (max-width: 1399px) {

  /* Navigation */
  .nav {
    padding-left: 6.93rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 7.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 6.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    background-color: white;
  }

  /* Cover-End */
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {

  /* Navigation */
  .nav {
    padding-left: 1.93rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 6.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    background-color: white;
  }

  /* Cover-End */

  /* Ferienwohnungen & Zimmer */
  .second-row--unternehmungen {
    margin: 0;
  }

  .zimmer-cover-dark {
    position: relative;
    height: 45em;
  }

  .zimmer-cover-inside {
    margin: 0;
    padding-top: 10rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 7em;
  }

  /* Ferienwohnungen & Zimmer-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 45em;
  }

  .kontakt-cover-inside {
    padding-top: 10rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 45em;
  }

  .ausflüge-cover-inside {
    padding-top: 10rem;
  }

  /* Ausflüge-End */
}

/* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 5.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: white;
  }

  /* Cover-End */

  /* Ferienwohnungen & Zimmer */
  .second-row--unternehmungen {
    margin: 0;
  }

  .zimmer-cover-dark {
    position: relative;
    height: 40em;
  }

  .zimmer-cover-inside {
    margin: 0;
    padding-top: 6rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 6em;
  }

  /* Ferienwohnungen & Zimmer-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 40em;
  }

  .kontakt-cover-inside {
    padding-top: 6rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 40em;
  }

  .ausflüge-cover-inside {
    padding-top: 6rem;
  }

  /* Ausflüge-End */
}

/* small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 4.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: white;
  }

  /* Cover-End */

  /* Ferienwohnungen */
  .zimmer-cover-dark {
    position: relative;
    height: 35em;
  }

  .zimmer-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    padding-top: 5rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    padding-top: 5rem;
  }

  /* Ausflüge-End */
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 3rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: white;
  }

  /* Cover-End */

  /* Ferienwohnungen */
  .zimmer-cover-dark {
    position: relative;
    height: 35em;
  }

  .zimmer-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Ausflüge-End */
}

/* Extra small devices (phones, 406px and down) */
@media screen and (max-width: 406px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 3rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: white;
  }

  /* Cover-End */

  /* Ferienwohnungen */
  .zimmer-cover-dark {
    position: relative;
    height: 35em;
  }

  .zimmer-cover-inside {
    margin: 0;
    padding-top: 3rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 4em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    margin: 0;
    padding-top: 3rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Ausflüge-End */
}

/* Media Queries-End */
/* ===========================================================================*/