/* Loading Font Amithen */
@font-face {
  font-family: Amithen;
  src: url("resources/fonts/Amithen.otf") format("opentype");
}
/* ===========================================================================*/
/* Components */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
}

.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
/* Components-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* jQuery lightSLider */
.image_kissthecook {
  width: 160%;
  z-index: -100;
}
/* jQuery lightSLider-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Navigation */
.navbar-brand {
  font-family: Amithen;
  font-size: 2.5rem;
}

.nav {
  padding-left: 12rem;
}
/* Navigation-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Cover */
.block_cover {
  position: relative;
  border: 5rem solid white;
  bottom: 10rem;
  background-color: white;
  z-index: 10;
}

.cover_heading {
  font-family: Amithen;
  font-size: 7rem;
}

.cover_subheading {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-weight: 100;
  font-family: "Khand", sans-serif;
}
/* Cover-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Price Cards */
.card-plans-separator {
  border-bottom: 1px solid #cacaca;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-plans-separator:last-child {
  border-bottom: 0px solid;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.pricelist-icon {
  font-size: 40px;
}
/* Price Cards-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Punny Doppelzimmer */
.punny-doppelzimmer {
  padding: 50rem;
}

.transparent-grapes-left {
  position: absolute;
  left: -500px;
  bottom: 250px;
}

.transparent-grapes-right {
  position: absolute;
  right: -400px;
  bottom: 0px;
}
/* Punny Doppelzimmer-End */
/* ===========================================================================*/

/* ===========================================================================*/
/* Footer */
.footer-background {
  position: relative;
}

.footer-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1588278411622-7be7d47a9784?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(50%);
}

.footer-background-inside {
  position: relative;
}
/* Footer-End */
/* ===========================================================================*/
/* Ferienwohnungen */
.lieblingsort-dark-preview {
  position: relative;
  height: 65em;
}

.lieblingsort-dark-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(resources/img/7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.lieblingsort-dark-inside {
  position: relative;
  padding-top: 18em;
}

.brand-font {
  font-family: Amithen;
  font-size: 8rem;
}

.brand-font-small {
  font-family: Amithen;
  font-size: 3rem;
}

.frühstückskorb-icon {
  font-size: 50px;
}
.doktorenhof-icon {
  font-size: 50px;
}
.restaurant-icon {
  font-size: 50px;
}
.fahrrad-icon {
  font-size: 50px;
}
.hike-icon {
  font-size: 50px;
}
/* Ferienwohnungen-End */

/* Ausflüge */
.ausflüge-cover-dark {
  position: relative;
  height: 65em;
}

.ausflüge-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1572360678077-0ab5ce1be418?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.ausflüge-cover-inside {
  position: relative;
  padding-top: 18em;
}

.pfalz-icon {
  font-size: 50px;
}
.glass-icon {
  font-size: 30px;
}
/* Ausflüge-End */

/* Kontakt */
.kontakt-dark-preview {
  position: relative;
  height: 65em;
}
.kontakt-dark-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1605820644336-377c3e7a4b63?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
}

.kontakt-dark-inside {
  position: relative;
  padding-top: 18em;
}
/* Kontakt-End */

/* ===========================================================================*/
/* Media Queries */
/* Extra large devices (super large laptops and desktops, 1399px and down) */
@media screen and (max-width: 1399px) {
  /* Navigation */
  .nav {
    padding-left: 6.93rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 7.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 6.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    background-color: white;
  }
  /* Cover-End */
}
/* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {
  /* Navigation */
  .nav {
    padding-left: 1.93rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 6.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    background-color: white;
  }
  /* Cover-End */
}

/* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {
  /* Navigation */
  .nav {
    padding-left: 0rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 5.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: white;
  }
  /* Cover-End */

  /* Ferienwohnungen */
  .second-row--unternehmungen {
    margin: 0;
  }

  .lieblingsort-dark-preview {
    position: relative;
    height: 40em;
  }

  .lieblingsort-dark-inside {
    margin: 0;
    padding-top: 6rem;
  }

  .brand-font {
    font-size: 6em;
  }
  /* Ferienwohnungen-End */
}
/* small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {
  /* Navigation */
  .nav {
    padding-left: 0rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 5.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 4.55rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: white;
  }
  /* Cover-End */

  /* Ferienwohnungen */
  .lieblingsort-dark-preview {
    position: relative;
    height: 35em;
  }

  .lieblingsort-dark-inside {
    margin: 0;
    padding-top: 5rem;
  }

  .brand-font {
    font-size: 5em;
  }
  /* Ferienwohnungen-End */
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  /* Navigation */
  .nav {
    padding-left: 0rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 3rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: white;
  }
  /* Cover-End */

  /* Ferienwohnungen */
  .lieblingsort-dark-preview {
    position: relative;
    height: 35em;
  }

  .lieblingsort-dark-inside {
    margin: 0;
    padding-top: 5rem;
  }

  .brand-font {
    font-size: 5em;
  }
  /* Ferienwohnungen-End */
}
/* Extra small devices (phones, 406px and down) */
@media screen and (max-width: 406px) {
  /* Navigation */
  .nav {
    padding-left: 0rem;
  }
  /* Navigation-End */

  /* Cover */
  .block_cover {
    position: relative;
    bottom: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: white;
    border: 1.95rem solid white;
    z-index: 5;
  }

  .cover_heading {
    font-family: Amithen;
    font-size: 3rem;
    background-color: white;
    z-index: 10;
  }

  .cover_subheading {
    font-weight: 100;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: white;
  }
  /* Cover-End */

  /* Ferienwohnungen */
  .lieblingsort-dark-preview {
    position: relative;
    height: 35em;
  }

  .lieblingsort-dark-inside {
    margin: 0;
    padding-top: 3rem;
  }

  .brand-font {
    font-size: 4em;
  }
  /* Ferienwohnungen-End */
}
/* Media Queries-End */
/* ===========================================================================*/
