.lieblingsort-cover-dark {
  position: relative;
  height: 35em;
  @include lg {
    height: 42em;
  }
  @include xl {
    height: 52em;
  }
  @include xxl {
    height: 65em;
  }
  @include xxxxl {
    height: 70em;
  }
}

.lieblingsort-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(../resources/img/ferienwohnung/compressed/lieblingsplatz-panorama.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.lieblingsort-cover-inside {
  padding-top: 5.89rem;
  @include md {
    padding-top: 6rem;
  }
  @include lg {
    padding-top: 9rem;
  }
  @include xl {
    padding-top: 14rem;
  }
  @include xxl {
    padding-top: 18.5rem;
  }
  @include xxxl {
    padding-top: 20rem;
  }
  @include xxxxl {
    padding-top: 22rem;
  }
}

.zweiteheimat-cover-dark {
  position: relative;
  height: 35em;
  @include lg {
    height: 42em;
  }
  @include xl {
    height: 52em;
  }
  @include xxl {
    height: 65em;
  }
  @include xxxxl {
    height: 70em;
  }
}

.zweiteheimat-cover-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(../resources/img/ferienwohnung/compressed/lieblingsplatz-küche-horizontal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.zweiteheimat-cover-inside {
  padding-top: 5.89rem;
  @include md {
    padding-top: 6rem;
  }
  @include lg {
    padding-top: 9rem;
  }
  @include xl {
    padding-top: 14rem;
  }
  @include xxl {
    padding-top: 18.5rem;
  }
  @include xxxl {
    padding-top: 20rem;
  }
  @include xxxxl {
    padding-top: 22rem;
  }
}

.einrichtung {
  margin-bottom: 6%;
  @include xl {
    margin-bottom: 0%;
  }
}

.feriencover-picture-beschreibung-person {
  display: flex;
  font-size: 1.1rem !important;
  @include xl {
    font-size: 1.25rem !important;
  }
}

.feriencover-picture-beschreibung-person::before {
  content: "";
  background-image: url(../resources/svg/person.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding-right: 2.5rem;
}

.feriencover-picture-beschreibung-euro {
  display: flex;
  font-size: 1.1rem !important;
  @include xl {
    font-size: 1.25rem !important;
  }
}

.feriencover-picture-beschreibung-euro::before {
  content: "";
  background-image: url(../resources/svg/currency-euro.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding-right: 2.5rem;
}

.brand-font {
  font-family: Amithen;
  font-size: 3.58rem;
  @include lg {
    font-size: 4.2rem;
  }
  @include xl {
    font-size: 5.7rem;
  }
  @include xxl {
    font-size: 8.3rem;
  }
}

.star-icon {
  height: 1.2rem;
  @include xl {
    height: 1.5rem;
  }
}

.person-icon {
  height: 2rem;
}

.euro-icon {
  height: 2rem;
}

.brand-font-small {
  font-family: Amithen;
  font-size: 3rem;
}

.frühstückskorb-icon {
  font-size: 50px;
}

.doktorenhof-icon {
  font-size: 50px;
}

.restaurant-icon {
  font-size: 50px;
}

.fahrrad-icon {
  font-size: 50px;
}

.hike-icon {
  font-size: 50px;
}