.lieblingsort-cover-dark {
    position: relative;
    height: 65em;
  }
  
  .lieblingsort-cover-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../resources/img/ferienwohnung/compressed/lieblingsplatz-panorama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
  }
  
  .lieblingsort-cover-inside {
    position: relative;
    padding-top: 18em;
  }
  
  .zweiteheimat-cover-dark {
    position: relative;
    height: 65em;
  }
  
  .zweiteheimat-cover-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../resources/img/ferienwohnung/compressed/lieblingsplatz-küche-horizontal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
  }
  
  .zweiteheimat-cover-inside {
    position: relative;
    padding-top: 18em;
  }
  
  .brand-font {
    font-family: Amithen;
    font-size: 8rem;
  }
  
  .brand-font-small {
    font-family: Amithen;
    font-size: 3rem;
  }
  
  .frühstückskorb-icon {
    font-size: 50px;
  }
  
  .doktorenhof-icon {
    font-size: 50px;
  }
  
  .restaurant-icon {
    font-size: 50px;
  }
  
  .fahrrad-icon {
    font-size: 50px;
  }
  
  .hike-icon {
    font-size: 50px;
  }