.home-section {
  margin-top: -20%;
  @include sm {
    margin-top: -10%;
  }
  @include md {
    margin-top: -5%;
  }
  @include lg {
    margin-top: 0%;
  }
}

// Text-Size wird angepasst - ist eher an den Appartement-Pages angepasst

// .landing-beschreibung {
// font-size: 1.1rem !important;
// @include xl {
// font-size: 1.25rem !important;
// }
// }

.partner-container {
  margin-top: 6rem !important;
  margin-bottom: 4rem !important;
}

.elsässer-käselädl-partner {
  width: 64%;
  padding-top: 1rem;
  @include sm {
    width: 70%;
    padding-top: 1.55rem;
  }
  @include sm {
    width: 65%;
  }
  @include xxxxl {
    width: 60%;
  }
}

.diejungesuedpfalz-partner {
  padding-top: 1.75rem;
}
