.impressum-heading {
  margin-top: 3rem;
}

.impressum-link {
  color: #3b3b3b;
}

.impressum-link:hover {
  border-bottom: 2.5px solid #6e6e6e;
  color: #3b3b3b;
}

.impressum-link:active {
  border-bottom: 2.5px solid #6e6e6e;
}

.quellen-link {
  color: #3b3b3b;
}
