.kontakt-cover-dark {
    position: relative;
    height: 65em;
  }
  
  .kontakt-cover-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("https://images.unsplash.com/photo-1605820644336-377c3e7a4b63?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
  }
  
  .kontakt-cover-inside {
    position: relative;
    padding-top: 18em;
  }
  
  .kontakt-link {
    color: #3b3b3b;
  }
  
  .kontakt-link:hover {
    border-bottom: 2.5px solid #6e6e6e;
  }
  
  .kontakt-link:active {
    border-bottom: 2.5px solid #6e6e6e;
  }

  /* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {


    /* Ferienwohnungen & lieblingsort-End */
  
    /* Kontakt */
    .kontakt-cover-dark {
      position: relative;
      height: 45em;
    }
  
    .kontakt-cover-inside {
      padding-top: 10rem;
    }
    /* Kontakt-End */}

    /* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {


    /* Kontakt */
    .kontakt-cover-dark {
      position: relative;
      height: 40em;
    }
  
    .kontakt-cover-inside {
      padding-top: 6rem;
    }
  
    /* Kontakt-End */}

    /* small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {

    /* Kontakt */
    .kontakt-cover-dark {
      position: relative;
      height: 35em;
    }
  
    .kontakt-cover-inside {
      padding-top: 5rem;
    }
    /* Kontakt-End */}

    /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {


    /* Kontakt */
    .kontakt-cover-dark {
      position: relative;
      height: 35em;
    }
  
    .kontakt-cover-inside {
      margin: 0;
      padding-top: 5rem;
    }
    /* Kontakt-End */}

    /* Extra small devices (phones, 406px and down) */
@media screen and (max-width: 406px) {

    /* Kontakt */
    .kontakt-cover-dark {
      position: relative;
      height: 35em;
    }
  
    .kontakt-cover-inside {
      margin: 0;
      padding-top: 3rem;
    }
    /* Kontakt-End */}