// Fonts
$font-family-sans-serif: "Roboto", sans-serif;
// 'Khand', sans-serif;

// Colors
$primary: #8fa996;
$secondary: #e39f8f;
$success: #2d5e38;
$info: #aeeef7;
$danger: #763e3e;
$warning: #ffe03a;

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";