// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;
// 'Khand', sans-serif;

// Colors
$primary: #943131;
$secondary: #bb9647;
$success: #2D5E38;
$info: #AEEEF7;
$danger: #763E3E;
$warning: #FFE03A;

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";