/* ===========================================================================*/
/* Media Queries */

/* Super large devices (large laptops and desktops, 1810px and down) */
@media screen and (max-width: 1810px) {

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 7rem;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 6rem;
    margin-top: 3rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }

  /* Cover-End */
}

/* Extra large devices (super large laptops and desktops, 1399px and down) */
@media screen and (max-width: 1399px) {

  /* Navigation */
  .nav {
    padding-left: 6.93rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 6rem;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 5rem;
    margin-top: 3rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  /* Cover-End */
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {

  /* Navigation */
  .nav {
    padding-left: 1.93rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 4rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 4rem;
    margin-top: 3rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  /* Cover-End */

  /* Ferienwohnungen & Zimmer */
  .second-row--unternehmungen {
    margin: 0;
  }

  .lieblingsort-cover-dark {
    position: relative;
    height: 45em;
  }

  .lieblingsort-cover-inside {
    margin: 0;
    padding-top: 10rem;
  }

  .zweiteheimat-cover-dark {
    position: relative;
    height: 45em;
  }

  .zweiteheimat-cover-inside {
    margin: 0;
    padding-top: 10rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 7em;
  }

  /* Ferienwohnungen & lieblingsort-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 45em;
  }

  .kontakt-cover-inside {
    padding-top: 10rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 45em;
  }

  .ausflüge-cover-inside {
    padding-top: 10rem;
  }

  /* Ausflüge-End */

  .diejungesuedpfalz-partner {
    margin-top: 1.75rem; 
  }

}

/* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 3rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 3.2rem;
    margin-top: 2.2rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
  }
  /* Cover-End */

  /* Ferienwohnungen & Zimmer */
  .second-row--unternehmungen {
    margin: 0;
  }

  .lieblingsort-cover-dark {
    position: relative;
    height: 40em;
  }

  .lieblingsort-cover-inside {
    margin: 0;
    padding-top: 6rem;
  }

  .zweiteheimat-cover-dark {
    position: relative;
    height: 40em;
  }

  .zweiteheimat-cover-inside {
    margin: 0;
    padding-top: 6rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 6em;
  }

  /* Ferienwohnungen & lieblingsort-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 40em;
  }

  .kontakt-cover-inside {
    padding-top: 6rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 40em;
  }

  .ausflüge-cover-inside {
    padding-top: 6rem;
  }

  /* Ausflüge-End */

  .footer-link-container {
    margin-top: 1rem;
  }

  .elsässer-käselädl-partner {
    margin-top: 1rem; 
  }
  
}

/* small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 2rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  /* Cover-End */

  /* Ferienwohnungen */
  .lieblingsort-cover-dark {
    position: relative;
    height: 35em;
  }

  .lieblingsort-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  .zweiteheimat-cover-dark {
    position: relative;
    height: 35em;
  }

  .zweiteheimat-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    padding-top: 5rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    padding-top: 5rem;
  }

  /* Ausflüge-End */
  .elsässer-käselädl-partner {
    margin-top: 2rem; 
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 1rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  /* Cover-End */

  .cover-page-zweite-heimat-container {
    margin-top: 1.75rem;
  }

  .cover-page-lieblingsort-container {
    margin-top: -6rem;
    margin-bottom: -3rem;  
  }

  /* Ferienwohnungen */
  .lieblingsort-cover-dark {
    position: relative;
    height: 35em;
  }

  .lieblingsort-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  .cover-picture-beschreibung {
    font-size: 1.15rem !important; 
  }
  
  .zweiteheimat-cover-dark {
    position: relative;
    height: 35em;
  }

  .zweiteheimat-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Ausflüge-End */

  .elsässer-käselädl-partner {
    margin-right: 2.3rem; 
  }
}

/* Extra small devices (phones, 406px and down) */
@media screen and (max-width: 406px) {

  /* Navigation */
  .nav {
    padding-left: 0rem;
  }

  /* Navigation-End */

  /* Cover */
  .block-cover {
    position: relative;
    border: 0.2rem solid #3d3d3d;
    bottom: 1rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10;
  }

  .cover-heading {
    font-family: Amithen;
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }

  .cover-subheading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 100;
    font-family: "Khand", sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  /* Cover-End */

  .cover-page-zweite-heimat-container {
    margin-top: 2rem;
    margin-bottom: -2rem;  
  }

  .cover-page-zweite-heimat {
    display: none;
  }

  .cover-page-lieblingsort-container {
    margin-top: -6rem;
    margin-bottom: -3rem;  
  }

  .cover-page-lieblingsort {
    display: none;
  }

  /* Ferienwohnungen */
  .lieblingsort-cover-dark {
    position: relative;
    height: 35em;
  }

  .lieblingsort-cover-inside {
    margin: 0;
    padding-top: 3rem;
  }

  .zweiteheimat-cover-dark {
    position: relative;
    height: 35em;
  }

  .zweiteheimat-cover-inside {
    margin: 0;
    padding-top: 3rem;
  }

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 4em;
  }

  /* Ferienwohnungen-End */

  /* Kontakt */
  .kontakt-cover-dark {
    position: relative;
    height: 35em;
  }

  .kontakt-cover-inside {
    margin: 0;
    padding-top: 3rem;
  }

  /* Kontakt-End */

  /* Ausflüge */
  .ausflüge-cover-dark {
    position: relative;
    height: 35em;
  }

  .ausflüge-cover-inside {
    margin: 0;
    padding-top: 5rem;
  }

  /* Ausflüge-End */
  .elsässer-käselädl-partner {
    margin-right: 2.8rem;
    width: 78%; 
  }
}

/* Media Queries-End */
/* ===========================================================================*/