// Very-Small devices
$screen-sm-min: 406px;

// Small devices
$screen-md-min: 600px;

// Small-Medium devices
$screen-lg-min: 767px;

// Medium devices
$screen-xl-min: 992px;

// Large devices
$screen-xxl-min: 1200px;

// Very-Large devices
$screen-xxxl-min: 1399px;

// Extra-Large devices
$screen-xxxxl-min: 1810px;
