/* Loading Font Amithen */
@font-face {
  font-family: Amithen;
  src: url("../resources/fonts/Amithen.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
  color: #2f3335;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

a {
  text-decoration: none;
}
