/* Loading Font Amithen */
@font-face {
  font-family: Amithen;
  src: url("../resources/fonts/Amithen.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
  color: #2f3335;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #181a1bf5;
}

a {
  text-decoration: none;
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media screen and (max-width: 1200px) {

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 7em;
  }}

  /* Large devices (laptops/desktops, 992px and down) */
@media screen and (max-width: 992px) {



  /* Universal for all Cover pages */
  .brand-font {
    font-size: 6em;
  }}

  /* small devices (phones, 767px and down) */
@media screen and (max-width: 767px) {

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }}

  /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 5em;
  }}

  /* Extra small devices (phones, 406px and down) */
@media screen and (max-width: 406px) {

  /* Universal for all Cover pages */
  .brand-font {
    font-size: 4em;
  }}